.card__body
    margin-bottom: 1.25rem
    width: 16.3234rem
.card__copy
    color: darkGrayishBlue
    line-height: 1.5625rem
 @media (min-width: 800px) and (min-height: 1030px)
    .card__body
        width 100%