
.price
    display: flex
    font-family: font-stack--second
    align-items: center
    margin-bottom: 0.9375rem

.price__discount
    font-size: font-size--big
    font-weight: 700
    color: darkCyan
    margin-right: 22px

.price__origin
    text-decoration: line-through
    color: darkGrayishBlue
    text-decoration-thickness: 1px /* Ajusta el grosor de la línea */
    text-decoration-color: darkGrayishBlue   /* Color de la línea */
.button
    display: flex
    justify-content: center
    align-items: center
    list-style: none
    border: none
    height: 3.125rem
    background: darkCyan
    color:  whiteBackground
    border-radius: 15px
    width 100%
    font-weight: 700
    font-size: font-size--medium
.button svg
    margin-right: 10px
.button:hover
    background: darkCyanHover