.card__tag
    margin-top: 20px
    margin-bottom: 5px
    text-transform: uppercase
    letter-spacing: 0.25rem
    color: veryDarkBlue
    font-weight: 500
    font-size: font-size-medium
.card__title
    margin-bottom: 15px
    font-family: font-stack--second
    font-size: font-size--big
    font-weight: 700
    width 85%