darkCyan =  hsl(158, 36%, 37%)
darkCyanHover =  hsl(158, 54%, 19%)
cream = hsl(30, 38%, 92%)

veryDarkBlue = hsl(212, 21%, 14%)
darkGrayishBlue = hsl(228, 12%, 48%)
whiteBackground = hsl(0, 0%, 100%)

fontBody = 14px
