@import 'colors'
@import 'fonts'
@import 'card/*'

*
  margin 0
  padding 0
  box-sizing border-box


body
    color: black
    background: cream
    margin: 0
    box-sizing: border-box
    display: flex
    justify-content: center
    align-items: center
    height: 100vh
    font-family: font-stack--first
    font-size: font-size--medium 
.card
    border-radius: 15px
    background: whiteBackground
    width: 90%
    height: 92%
.card__container
    width 91%
    margin: 0 auto
